<% if(success_msg!= '') { %>
   <div class="message success"> <p><%=success_msg %> </p></div>
<% } %>


<% if(error_msg != '') { %>
    <div class="message error"><%= error_msg %> </div>
  <% } %> 
  <% if(error != '') { %>
    <div class="message error"><%= error %></div>
  <% } %>