
<nav class="navbar">
   <div class="container navbar">
       <div class="navbar_logo">
            <a href="/" class="image">
                <img src="/images/search-engine.svg" alt="Search engine">
            </a>
            <h1 class="text">
                <a href="/">URL Shortener</a>
            </h1>
       </div>
       <% if (user) { %>
            <div>
                <a href="/logout"><img src="/images/log-out.svg" alt="logout"></a>
            </div>
       <% } %>
   </div>
</nav>