.dashboard{
    margin-top: 100px;
    background-color: red;
    min-height: 80vh;
    padding: 10px ;
    border-radius: 5px;
    background-color: #29335C;
}

.short_url{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.short_url input{
    width: 400px;
    padding: 10px 10px;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    border: 0;
}

.short_url button {
    background-color: aliceblue;
    color:#29335C;
    padding:10px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

@media(max-width:650px){
  
.short_url input{
    width: 250px;
    padding: 5;
    font-size: 16px;
}

.short_url button {
    padding:10px;
    font-size: 16px;
}  
}

.dashboard table {
    min-width: 100%;
    max-width: max-content;
    color: white;
}

table thead th{
    background-color: rgb(131, 130, 130);
    padding: 5px;
}

table td {
    padding: 5px;
    background-color:whitesmoke;
    
}

table td,a {
    color: black !important;
}

.table_container{
    width: 100%;
    padding: 10px 0; 
}

@media(max-width:900px){
    .table_container{
        overflow-x: scroll;
    }
}