@import './navbar.css';
@import './welcomeScreen.css';
@import './register.css';
@import './error.css';
@import './dashboard.css';
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

@media(max-width:700px){
    .container {
        width: 95%;
        margin: 0 auto;
        position: relative;
    }   
}

body {
    background-color: #E6EBE0;
}