.navbar{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    width: 100%;
    align-items: center;
    gap: 10px;
    background-color: #29335C;
    z-index: 10;
    justify-content: space-between;
}

@media(max-width:600px){
    .navbar h1 {
        font-size: 18px;
    }
}

.navbar a{
    color:white !important
}

.navbar svg {
    fill: white !important;
}

.navbar_logo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.image img {
    width: 50px !important;
}

.text{
    font-size: 20px;
    text-transform: uppercase;
    
}

.navbar h1 a {
    color: white !important;
}

