.form{
    display: grid;
    place-items: center;
    height: 100vh;
}

.form_container{
    background-color: #29335C;
    padding: 20px 50px;
    border-radius: 5px;
}

.form_container h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form_control input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
}

.form_control label {
    color: white;
}

.btn{
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 0;
    outline: 0;
}

.form_text{
    color: whitesmoke;
}

.form_link {
    text-decoration: underline !important;
}

