.welcome{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: grid;
    place-items: center;
}

.welcome__content{
    text-align: center;
    background-color: #29335C;
    padding: 50px 30px;
    border-radius: 5px;
}

.welcome__content h1 ,a {
    color: white;
    text-decoration: none;
}

.welcome__content h1 {
    font-size: 50px;
}

.welcome__content p {
    margin-bottom: 30px;
    font-size: 20px;
    color: white;
}

.welcome__content a {
    background-color: #E6EBE0;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    color: black;
}

.welcome__buttons{
    display: flex;
    gap: 10px;
    align-items: center;
}

@media(max-width:700px){
    .welcome__content{
        text-align: center;
        background-color: #29335C;
        padding: 50px 30px;
        border-radius: 5px;
    }
    
    
}