<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
 
  <%- include('./partials/navbar.ejs',{user:user}) %> 
  <div class="container">
    <%- include('./urlShortener.ejs') %> 
  </div>

</body>
</html>