<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style/main.css">
    
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="container form">
       <div class="form_container">
        <h1> Login </h1>
        <%- include ('./partials/message') %>
            <form action="/login" method="POST">
            <div class="form_control">
            <label for="email">Email</label>
            <input
            type="email"
            name="email"
            placeholder="Enter Email"
            />
    </div>
    <div class="form_control">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter Password"
        />
      
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
       
    </form>
       </div>
    </div>
</body>
</html>