<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/style/main.css">
</head>
<body>
    
    <%- include('./partials/navbar.ejs') %>
  <div class="container form">
   <div class="form_container">
      <h1>Register</h1>
      <%- include ('./partials/messages') %>
      <form action="/register" method="POST">
      <div class="form_control">
          <label for="name">Name</label>
          <input
            type="name"
            name="name"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        
      </div>
      <div class="form_control">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form_control">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form_control">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            name="password2"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="form_text">Have An Account? <a class="form_link" href="/login">Login</a></p>
   </div>
  </div>
</body>
</html>