    <div class="dashboard">
       
        <form action="/shortUrls" method="POST" class="short_url">
                <input type="url" name="fullUrl" placeholder="Enter URL" id="fullUrl">
                <button type="submit">Short</button>
        </form>
        <br>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <th>Full Url</th>
                        <th>Short Url</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% shortUrls.forEach(element => { %>
                        <tr>
                            <td><a href="<%= element.full %>"><%= element.full %></a></td>
                            <td><a href="<%= element.short %>"><%= "https://bakurl.herokuapp.com/" +element.short %></a></td>
                            <td><%= element.clicks %></td>
                        </tr>
                    <% }) %>
                   
                </tbody>
            </table>
        </div>
    </div>