<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/main.css">
</head>
<body>
  <%- include('./partials/navbar.ejs') %>
  
  <div class="container">
    <div class="welcome">
      <div class="welcome__content">
        <h1>Welcome!</h1>
        <p>Create an account or login</p>
        <div class="welcome__buttons">
          <a href="/register">Register</a>
          <a href="/login"> Login</a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>